* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: none;
    list-style: none;
}

html,
body {
    background: #070b1d;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
